<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${model.title}"></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/vok.ico" type="image/x-icon">
</head>
<body>
<header class="bg-dark text-white text-center py-3">
    <h1 th:text="${model.title}"></h1>
    <a th:href="@{/admin}" class="btn btn-info btn-sm">Админ. панель</a>
</header>
<main class="container mt-4">
    <h2 class="section-header">Список обращений</h2>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Заголовок</th>
            <th>Дата</th>
            <th>Ответ</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appeal : ${appeals}">
            <td th:text="${appeal.id}"></td>
            <td th:text="${appeal.header}"></td>
            <td th:text="${appeal.dateStart}"></td>
            <td th:text="${appeal.answer != null ? 'Ответ отправлен' : 'Ожидание ответа'}"
                th:classappend="${appeal.answer == null ? 'text-danger' : ''}">
            </td>

            <td>
                <a th:href="@{/appeals/{id}/details(id=${appeal.id})}" class="btn btn-info btn-sm">Детали</a>
                <a th:if="${appeal.answer == null}"
                   th:href="@{/appeals/{id}/edit(id=${appeal.id})}" class="btn btn-warning btn-sm">Ответить</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>