<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head"/>
<body>
<header class="bg-dark text-white text-center py-3">
    <h1 th:text="${model.base.title}"></h1>
    <a th:href="@{/routes}" class="btn btn-info btn-sm">Назад к списку маршрутов</a>
</header>
<main>
    <section class="container my-4">
        <div class="jumbotron text-center rounded bg-light py-4">
            <h2 class="display-4">Информация о маршруте</h2>
        </div>

        <section class="bg-light rounded p-4 mb-4">
            <ul class="list-unstyled">
                <li><strong>ID:</strong> <span th:text="${model.route.id}">1</span></li>
                <li><strong>Время отправления:</strong> <span th:text="${model.route.timeDep}">12:30</span></li>
                <li><strong>Время прибытия:</strong> <span th:text="${model.route.timeArr}">14:45</span></li>
                <li><strong>ID платформы отправления:</strong> <span th:text="${model.route.depPlId}">1</span></li>
                <li><strong>ID платформы прибытия:</strong> <span th:text="${model.route.arrPlId}">2</span></li>
                <li th:if="${model.route.del}">
                    <strong class="text-warning">Удален!</strong>
                </li>
            </ul>
        </section>

        <div class="d-flex justify-content-between">
            <a class="btn btn-primary" th:href="@{/routes/{id}/edit(id=${model.route.id})}">Редактировать</a>
            <a class="btn btn-danger" th:href="@{/routes/{id}/delete(id=${model.route.id})}"
               onclick="return confirm('Вы уверены, что хотите удалить этот маршрут?');">Удалить маршрут</a>
        </div>
    </section>
</main>
</body>
</html>