<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="UTF-8">
  <title>Админ. панель</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/vok.ico" type="image/x-icon">
</head>
<body>
<header class="bg-dark text-white text-center py-3">
  <h1>Административная панель</h1>
  <a th:href="@{/}" class="btn btn-info btn-sm">Главная страница</a>
</header>
<main class="container mt-5">
  <div class="row g-4">
    <div class="col-md-4">
      <a th:href="@{/employees}" class="btn btn-primary w-100 py-3">Сотрудники</a>
    </div>

    <div class="col-md-4">
      <a th:href="@{/trains}" class="btn btn-primary w-100 py-3">Поезда</a>
    </div>

    <div class="col-md-4">
      <a th:href="@{/trips}" class="btn btn-primary w-100 py-3">Поездки</a>
    </div>

    <div class="col-md-4">
      <a th:href="@{/routes}" class="btn btn-primary w-100 py-3">Маршруты</a>
    </div>

    <div class="col-md-4">
      <a th:href="@{/platforms}" class="btn btn-primary w-100 py-3">Платформы</a>
    </div>

    <div class="col-md-4">
      <a th:href="@{/vokzals}" class="btn btn-primary w-100 py-3">Вокзалы</a>
    </div>

    <div class="col-md-4 mx-auto">
      <a th:href="@{/appeals/admin-list}" class="btn btn-primary w-100 py-3">Обращения</a>
    </div>
  </div>
</main>
</body>
</html>
